# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build files
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
logs/*.log

# Dependency directories
.pnp/
.pnp.js

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
*.lock

# MacOS system files
.AppleDouble
.LSOverride